<%- include('../partials/header') %>
<h1>ADD PIZZA</h1>
<br>
<h3>CANNOT BE CHANGED LATER BY USER</h3>
<br>
<div class="new-form">
            <form action="/pizzas" method="POST" enctype="multipart/form-data">
                <label>NAME: </label>
                <input type="text" name="name" autocapitalize="characters"><br>
                <label>CRUST: </label>
                <select name="crust">
                    <option value="CLASSIC">Classic</option>
                    <option value="THIN">Thin</option>
                    <option value="THICK">Thick</option>
                    <option value="DEEP DISH">Chicago Deep Dish</option>
                    <option value="PAN">Pan</option>
                    <option value="GLUTEN FREE">Gluten Free</option>
                    <option value="WHOLE WHEAT">Whole Wheat</option>
                    <option value="OTHER">Other</option>
                </select><br>
                <label>SAUCE: </label>
                <select name="sauce">
                    <option value="CLASSIC TOMATO">Classic Tomato</option>
                    <option value="WHITE">White</option>
                    <option value="BBQ">BBQ</option>
                    <option value="OTHER">Other</option>
                </select><br>
                <label>TOPPINGS: </label>
                <input type="text" name="toppings"><br>
                <label>ADD IMAGE: </label>
                <input type="file" name="image" id="pizza-image-upload" value="ADD IMAGE"><br><br>
                <input class="submit-button" type="submit">
    </form>
    </div>
<br><br>
<!--<h2>DON'T SEE A TOPPING? ADD IT!</h2>
 <form action="/toppings" method="POST">
	<table>
		<thead>
			<tr>
				<th>Topping</th>
				<th>Category</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="text" name="name" /></td>
				<td>
					<select name="category">
						<option value="MEATS">Meats</option>
						<option value="VEGGIES">Veg</option>
						<option value="CHEESE">Cheese</option>
						<option value="OTHER">Other</option>
					</select>
				</td>
				<td><button>submit</button></td>
			</tr>
		</tbody>
	</table>
</form>
<ul>
	<%// toppings.forEach(function(t) { %>
	<li><%=// t.name %> | <%=// t.category %></li>
	<%// }) %>
</ul>
-->
<%- include('../partials/footer') %>
